.container {
  display: flex;
  width: 100vw;
  font-family: "Karla", sans-serif;
}

.nav {
  width: 20%;
  height: 100vh;
  border-right: 2px solid var(--borderColor);
  padding-inline: 1rem;
  padding-block: 2rem;
}

.main {
  width: 50%;
  height: 100vh;
  padding: 2rem;
  overflow: scroll;
}

.right {
  width: 30%;
  height: 100vh;
  padding: 2rem;
  padding-block: 1rem;
  border-left: 2px solid var(--borderColor);
  display: flex;
  justify-content: center;
}
